# KMRD 데이터셋 탐색하기
사용자 수, 영화 수, 평점 수, 제작국가 수, 출연진 수, 장르 개수 등의 기본 통계를 확인하라.

In [2]:
import pandas as pd
import os

def get_dataframe(dataset_path, encoding="utf-8"):
    try:
        # List all files in the dataset directory
        files = os.listdir(dataset_path)

        # Dictionary to store DataFrames
        dataframes = {}

        # Loop through each file
        for file in files:
            file_path = os.path.join(dataset_path, file)

            # Check for .csv or .txt files
            if file.endswith(".csv"):
                data = pd.read_csv(file_path, engine='c', encoding=encoding)
                dataframes[file] = data
            elif file.endswith(".txt"):
                data = pd.read_csv(file_path, delimiter='[|\t]', engine='python', header=None, encoding=encoding)
                dataframes[file] = data
        return dataframes
    except FileNotFoundError as e:
        print(f"Error: {e}")
    except Exception as e:
        print(f"An unexpected error occurred: {e}")

In [3]:
kmrd_path = "../../kmrd-small"
dataframes = get_dataframe(kmrd_path)
print(f"{dataframes.keys()}")

dict_keys(['countries.csv', 'movies.txt', 'genres.csv', 'rates.csv', 'peoples.txt', 'castings.csv'])

In [5]:
for file_name, df in dataframes.items():
    print(f"\nCheck {file_name}:\n")
    print(f"head:\n{df.head(3)}\n")
    print(f"shape:\n {df.shape}\n")
    print(df.info())
    print(f"describe:\n {df.describe()}\n")

Check countries.csv:

head:
   movie country
0  10001    이탈리아
1  10001     프랑스
2  10002      미국

shape:
 (1109, 2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1109 entries, 0 to 1108
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movie    1109 non-null   int64
 1   country  1109 non-null   object
dtypes: int64(1), object(1)
memory usage: 17.5+ KB
None
describe:
               movie
count   1109.000000
mean   10496.257890
std      285.409915
min    10001.000000
25%    10253.000000
50%    10492.000000
75%    10746.000000
max    10999.000000


Check movies.txt:

head:
       0         1                          2     3        4
0  movie     title                  title_eng  year    grade
1  10001    시네마 천국     Cinema Paradiso , 1988  2013   전체 관람가
2  10002  빽 투 더 퓨쳐  Back To The Future , 1985  2015  12세 관람가

shape:
 (1000, 5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1000 non-null   object
 1   1       993 non-null    object
 2   2       992 non-null    object
 3   3       610 non-null    object
 4   4       958 non-null    object
dtypes: object(5)
memory usage: 39.2+ KB
None
describe:
             0        1     2     3         4
count    1000      993   992   610       958
unique   1000      970   985    73        10
top     movie  노틀담의 꼽추  1991  1990  청소년 관람불가
freq        1        4     4    72       229


Check genres.csv:

head:
   movie   genre
0  10001     드라마
1  10001  멜로/로맨스
2  10002      SF

shape:
 (2025, 2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2025 entries, 0 to 2024
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   movie   2025 non-null   int64
 1   genre   2025 non-null   object
dtypes: int64(1), object(1)
memory usage: 31.8+ KB
None
describe:
               movie
count   2025.000000
mean   10474.521975
std      289.972315
min    10001.000000
25%    10221.000000
50%    10474.000000
75%    10719.000000
max    10999.000000


Check rates.csv:

head:
   user  movie  rate        time
0     0  10003     7  1494128040
1     0  10004     7  1467529800
2     0  10018     9  1513344120

shape:
 (140710, 4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140710 entries, 0 to 140709
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   user    140710 non-null  int64
 1   movie   140710 non-null  int64
 2   rate    140710 non-null  int64
 3   time    140710 non-null  int64
dtypes: int64(4)
memory usage: 4.3 MB
None
describe:
                 user          movie           rate          time
count  140710.000000  140710.000000  140710.000000  1.407100e+05
mean    14948.679916   10278.818861       8.953258  1.297460e+09
std     14539.728057     292.806259       2.106047  1.374877e+08
min         0.000000   10001.000000       1.000000  1.069340e+09
25%      2980.000000   10048.000000       9.000000  1.180398e+09
50%      9292.000000   10148.000000      10.000000  1.271521e+09
75%     24129.000000   10489.000000      10.000000  1.409478e+09
max     52027.000000   10998.000000      10.000000  1.576526e+09


Check peoples.txt:

head:
        0        1             2
0  people   korean      original
1       5   아담 볼드윈  Adam Baldwin
2       8  애드리안 라인   Adrian Lyne

shape:
 (7173, 3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7173 entries, 0 to 7172
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       7173 non-null   object
 1   1       7173 non-null   object
 2   2       6306 non-null   object
dtypes: object(3)
memory usage: 168.2+ KB
None
describe:
              0      1               2
count     7173   7173            6306
unique    7173   7154            6300
top     people  로버트 월  Richard Lester
freq         1      2               2


Check castings.csv:

head:
   movie  people  order  leading
0  10001    4374      1        1
1  10001     178      2        1
2  10001    3241      3        1

shape:
 (9776, 4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9776 entries, 0 to 9775
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movie    9776 non-null   int64
 1   people   9776 non-null   int64
 2   order    9776 non-null   int64
 3   leading  9776 non-null   int64
dtypes: int64(4)
memory usage: 305.6 KB
None
describe:
               movie         people        order      leading
count   9776.000000    9776.000000  9776.000000  9776.000000
mean   10499.104746   36151.930851     9.799509     0.295315
std      287.023933   62989.430164    12.576221     0.456208
min    10001.000000       5.000000     1.000000     0.000000
25%    10260.000000    4327.000000     3.000000     0.000000
50%    10485.000000   14048.500000     6.000000     0.000000
75%    10754.250000   27978.000000    10.000000     1.000000
max    10999.000000  420466.000000   101.000000     1.000000

describe() 매서드는 오직 숫자형(int, float 등) 칼럼의 분포도만 조사하며 자동으로 object 타입의 칼럼은 출력에서 제외시킨다.

In [11]:
countries_df = dataframes['countries.csv']
countries = countries_df['country']
print(countries)
print(len(set(countries)))

0       이탈리아
1        프랑스
2         미국
3         미국
4         미국
        ...
1104      미국
1105      미국
1106      미국
1107      미국
1108      미국
Name: country, Length: 1109, dtype: object
36